
Lei2Solucion/.vs/Lei2Solucion/v16/.suo
Lei2Solucion/.vs/Lei2Solucion/v16/Server/sqlite3/db.lock
Lei2Solucion/.vs/Lei2Solucion/v16/Server/sqlite3/storage.ide
Lei2Solucion/.vs/Lei2Solucion/v16/Server/sqlite3/storage.ide-shm
Lei2Solucion/.vs/Lei2Solucion/v16/Server/sqlite3/storage.ide-wal
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Lei2Projecto.AssemblyInfo.cs
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Lei2Projecto.AssemblyInfoInputs.cache
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Lei2Projecto.assets.cache
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Lei2Projecto.csproj.CopyComplete
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Lei2Projecto.csproj.CoreCompileInputs.cache
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Lei2Projecto.csproj.FileListAbsolute.txt
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Lei2Projecto.csprojAssemblyReference.cache
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Lei2Projecto.dll
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Lei2Projecto.pdb
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Lei2Projecto.RazorAssemblyInfo.cache
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Lei2Projecto.RazorAssemblyInfo.cs
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Lei2Projecto.RazorCoreGenerate.cache
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Lei2Projecto.RazorTargetAssemblyInfo.cache
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Lei2Projecto.RazorTargetAssemblyInfo.cs
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Lei2Projecto.TagHelpers.input.cache
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Lei2Projecto.TagHelpers.output.cache
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Lei2Projecto.Views.dll
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Lei2Projecto.Views.pdb
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/_ValidationScriptsPartial.g.cshtml.cs
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/_ViewImports.g.cshtml.cs
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/_ViewStart.g.cshtml.cs
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/_ViewImports.g.cshtml.cs
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/ForgotPassword.g.cshtml.cs
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/ForgotPasswordConfirmation.g.cshtml.cs
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Login.g.cshtml.cs
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Logout.g.cshtml.cs
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Manage/_ManageNav.g.cshtml.cs
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Manage/_ViewImports.g.cshtml.cs
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/Manage/ChangePassword.g.cshtml.cs
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/Account/ResetPassword.g.cshtml.cs
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.g.cshtml.cs
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.g.cshtml.cs
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.g.cshtml.cs
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Razor/Views/Home/Privacy.g.cshtml.cs
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.g.cshtml.cs
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_LoginPartial.g.cshtml.cs
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
Lei2Solucion/Lei2Projecto/obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.g.cshtml.cs
Lei2Solucion/Lei2Projecto/obj/Lei2Projecto.csproj.nuget.cache
Lei2Solucion/Lei2Projecto/obj/Lei2Projecto.csproj.nuget.dgspec.json
Lei2Solucion/Lei2Projecto/obj/Lei2Projecto.csproj.nuget.g.props
Lei2Solucion/Lei2Projecto/obj/Lei2Projecto.csproj.nuget.g.targets
Lei2Solucion/Lei2Projecto/obj/project.assets.json
Lei2Solucion/Lei2Projecto/bin/Debug/netcoreapp2.2/Lei2Projecto.deps.json
Lei2Solucion/Lei2Projecto/bin/Debug/netcoreapp2.2/Lei2Projecto.dll
Lei2Solucion/Lei2Projecto/bin/Debug/netcoreapp2.2/Lei2Projecto.pdb
Lei2Solucion/Lei2Projecto/bin/Debug/netcoreapp2.2/Lei2Projecto.runtimeconfig.dev.json
Lei2Solucion/Lei2Projecto/bin/Debug/netcoreapp2.2/Lei2Projecto.runtimeconfig.json
Lei2Solucion/Lei2Projecto/bin/Debug/netcoreapp2.2/Lei2Projecto.Views.dll
Lei2Solucion/Lei2Projecto/bin/Debug/netcoreapp2.2/Lei2Projecto.Views.pdb
Lei2Solucion/Lei2Projecto/wwwroot/lib/jquery/LICENSE.txt
